* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.rating {
  margin-top: 10px;
  width: min-content;
  border: 1px purple dashed;
}

.rating span {
  letter-spacing: -1px;
  font-weight: 900;
}

.gray {
  color: gray;
}

.gold {
  color: gold;
  position: absolute;
  overflow: hidden;
}

span {
  width: 40px;
  text-align: center;
}
